<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ page_title|default:"Untitled Page" }}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="/static/shop/bootstrap/css/bootstrap.min.css">

    <script src="/static/shop/jquery/jquery-3.6.0.min.js"></script>
</head>
<body>
{% block nav %}
    <p>Nav bar default text</p>
{% endblock nav %}

{% block content %}
    <p>Block content default text.</p>
{% endblock content %}

{#<div class="container">#}
{#    <!-- Content here -->#}
{##}
{#    <div class="row">#}
{#        <div class="col-sm">#}
{#            One of three columns#}
{#        </div>#}
{#        <div class="col-sm">#}
{#            One of three columns#}
{#        </div>#}
{#        <div class="col-sm">#}
{#            One of three columns#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<table border="1">#}
{#        <tr>#}
{#            <th>Category Title</th>#}
{#            <th>Product Slug</th>#}
{#        </tr>#}
{#        {% for d in data %}#}
{#        <tr>#}
{#            <td>#}
{#                <a href="/categories/{{ d.title }}">{{ d.title }}</a>#}
{#            </td>#}
{#            <td>#}
{#                {{ d.slug }}#}
{#            </td>#}
{#        </tr>#}
{#        {% endfor %}#}
{#</table>#}
</body>
</html>