{% extends "shop/base.html" %}
{% block title %}
    Displaying Model Data
{% endblock title %}

{% block nav %}
    {% include "shop/navbar.html" %}
{% endblock nav %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            category
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>
{% endblock content %}